<div class="container">
<header class="masthead">
<a href="/" class="logo"><svg xmlns="http://www.w3.org/2000/svg" width="305.47" height="50.62" viewBox="0 0 305.47 50.62"><text transform="translate(0 43.18)" font-size="48" fill="#344567" font-family="Fresno-Black, Fresno" letter-spacing="0.03em">BOTANIC ROMANTIC</text></svg> </a>
<nav class="site-nav">
<ul>
  {% for item in site.data.navigation.header %}
    <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
</header>
</div>

