/* Reset */
html, body, div, object, h1, h2, h3, h4, h5, h6, p, blockquote, object, iframe, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, hgroup, span, aside, pre, a, img, tr, th, td, tbody, tfoot, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer, nav, section, article, main, figure, li {
	display: block;
}

body {
line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
