---
---

@charset "utf-8";

@import 'reset';
@import 'modularscale';
@import 'variables';
@import 'mixins';
@import 'functions';

/* Base */
body {
  color: #4a4a4a;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 1em;
  @include min-width($min-width--md){
  font-size: ms(1);
  }
}

h1 {
  text-align: center;
  color: lighten(#ff3600, 20%);
  font-size: ms(5);
  line-height: 1.25;
  @include min-width ($min-width--md) {
    font-size: ms(6);
  }
  @include min-width($min-width--md){
  font-size: ms(8);
  }
}

.tagline {
  text-align: left;
  color: #9AA399;
}

h2 {
  line-height: 1.5;
  font-weight: normal;
}

h3 {
  font-size: ms(2);
  color: #344567;
  line-height: 1.5;
  margin-top: 2rem;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: lighten(#3A6755, 20%);
}

a:hover, a:active {
  color: darken(#3A6755, 15%);
}

ul, ol {
  font-size: ms(1);
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img{
  max-width: 100%;
}

/* Navigation */

.logo {
  width: 300px;
  height: auto;
  @include min-width($min-width--lg) {
  width: 400px;
  height: auto;
  }
}

.menu-icon {
   height: 45px;
   width: 45px;
   @include min-width($min-width--lg){
   display: none;
   }
}

.button {
  text-align: right;
  @include min-width($min-width--lg) {
  display: none;
  }
}

.menu{
   ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    li {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 1rem;
    font-size: ms(2);
    }

  @include max-width($max-width--md){
  width: 100%;
  height: auto;
  background: #344567;
  color: #fff;
  padding: 3rem;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
   a {
  color: #ffffff;
    }
    li {
  padding-top: .25rem;
    }
  }

  @include min-width($min-width--lg){
  ul {
  text-align: right;
  display: flex;
  flex-direction: row;
  }
  li {
  font-size: 1.125rem;
  }
    a {
  color: darken(#9AA399, 25%);
  &:hover {
  color: #9AA399;
  border-bottom: .125rem solid lighten(#ff3600, 40%);
      }
    }
  }
}

/* Layout-Specific Styles */

.wrapper {
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
}

.masthead {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-wrapper {
  width: 90%;
  padding-top: 2rem;
  margin: 0 auto;
  @include max-width($max-width--sm) {
  h1 {
  text-align: center;
  }}
  
  @include min-width($min-width--md) {
  display: grid;
  grid-template-columns: 50% 50;
  grid-column-gap: 1.5rem;
  align-content: start;
  }

  @include min-width($min-width--lg) {
  display: grid;
  grid-template-columns: 37.5% 60%;
  grid-column-gap: 1.5rem;
  align-content: start;
  }
}

.main {
  @include max-width($max-width--sm) {
  width: 85%;
  }
  margin: 1rem auto;
  p:first-child {
  margin-top: .75rem;
  color: #8C91A5;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  }
  h2 {
  text-align: center;
  margin-top: 1em;
  }
  @include min-width($min-width--md) {
    width: 55%;
    margin: 3rem auto;
  }
}

.recipe-title {
  font-weight: 300;
  font-size: 1.5rem;
}

.alt-headline {
    color: darken(#A50025, 10%);
}

.photo-hero {
  padding: 0;
  margin-top: 1em;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(http://d19obp3htqd30.cloudfront.net/jan-phoenix-269396.jpg) no-repeat;
    background-size: cover;
    h1 {
    text-align: center;
    line-height: 1;
    color: #fff;
    }
  @include min-width($min-width--md) {
    height: 50vh;
    margin: 2em;
  }
}

.illustration-hero {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  @include min-width($min-width--md) {
  height: 40vh;
  }
  @include min-width($min-width--lg) {
  height: 50vh;
  }
}

.illustration-hero, .illustration-hero img {
    background-color: #EBD9D1;
}

.illustration-hero img {
  height: 75%;
}

.full-width, .credit {
@include min-width($min-width--md) {
  margin: 0 -20% 4rem -20%;
  }
}

.full-width {
  margin-top: 2rem 0 0 0;
  padding: 1rem 0;
  @include min-width($min-width--md) {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: -20%;
  margin-right: -20%;
  padding:1.75em 0 .5em 0;
  }
}

.recipe ol {
  counter-reset:li; /* Initiate a counter */
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
}
.recipe ol > li {
  position:relative; /* Create a positioning context */
  margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  padding:4px 8px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
}
.recipe ol > li:before {
  content:counter(li); /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  /* Position and style the number */
  position:absolute;
  top:-10px;
  left: -1em;
  box-sizing: border-box;
  width:4em;
  font-size: ms(3);
  padding:4px;
}
.recipe li ol,
.recipe li ul {margin-top:6px;}
.recipe ol ol li:last-child {margin-bottom:0;}

.recipe-description {
  margin-top: .25em;
}

.plant-index-grid {
@include max-width($max-width--sm){
  margin-top: 1rem;
}
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-content: start;
}

hr {
    margin: 5em 0;
    border: 0;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    color: #ccc;
    text-align: center;
    height: 0;
}

.credit {
  text-align: right;
  text-transform: uppercase;
  color: #8C91A5;
  padding: 0;
  a:link, a:visited, a:hover, a:active {
  color: #8C91A5;
  }
}

.author {
  margin-top: 2rem;
  color: #999;
}

