---
---

@charset "utf-8";

/* Import partial sass files */

@import 'reset';
@import 'modularscale';

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/* Variables */

$modularscale: (
  base: 1em 1.333em,
  ratio: 1.5
);

.brown {
  color: brown;
}

$min-width--sm: 480px;
$min-width--md: 720px;
$min-width--lg: 960px;
$min-width--xl: 1200px;
$max-width--xs: ($min-width--sm - 1);
$max-width--sm: ($min-width--md - 1);
$max-width--md: ($min-width--lg - 1);
$max-width--lg: ($min-width--xl - 1);

/* Mixins */

@mixin min-width($media) {
 @media only screen and (min-width: $media) { @content; }
}
@mixin max-width($media) {
 @media only screen and (max-width: $media) { @content; }
}

/* Base */

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a:hover, a:active {
  color: #ccc;
}

body {
color: #4A4A49;
background-color: #fffc;
}

.container {
  padding-top: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main {
  width: 95%;
  margin: 1rem auto;
    @include min-width($min-width--md) {
      width: 55%;
      margin: 3rem auto;
  }
}

.main a:link, .main a:visited, .recipe-listing a:link, .recipe-listing a:visited {
  text-decoration: none;
  color: #8C91A5;
}

.main a:hover, .main a:active, .recipe-listing a:hover, .recipe-listing a:active {
  color: #ccc;
}


.recipe-listing {
  color: #9E9B9B;
}

.masthead {
position: relative;
padding: 0;
margin: 0;
}

h1 {
  font-size: ms(4);
  margin-bottom: 1rem;
  margin-top: 1em;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #FFF;
}

.page-hero h1 {
	font-size: ms(8);
	text-align: center;
  line-height: 1;
  color: hsla(0, 0%, 100%, 0.9);
}

.page-hero {
  margin: 2em 0 0 0;
  padding: 0;
  background: url(http://d19obp3htqd30.cloudfront.net/jan-phoenix-269396.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide h2 {
	text-align: center;
	margin-top: 1em;
}

h3 {
  font-size: ms(2);
  letter-spacing: 1px;
  color: #344567;
  margin-top: 2em;
}

.recipe-listing h3 {
  margin-top: 1.5rem;
  line-height: 1.5;
}

p {
  font-size: ms(1);
  line-height: 1.5;
  margin-top: 1em;
}

.about-intro {
  font-size: ms(3);
  line-height: 1.3;
}

.guide p:first-child {
  font-size: ms(1);
  text-align: center;
  margin-top: .75rem;
  color: #8C91A5;
  font-style: italic;
  line-height: 1.6;
}

.main ul, .recipe ul, .main ol, .recipe ol, .recipe ul {
  font-size: ms(1);
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}


img{
  max-width: 100%;
}

.full-width, .credit {
@include min-width($min-width--md) {
  margin: 0 -20% 4rem -20%;
  }
}

.full-width {
  margin-top: 2rem 0 0 0;
  padding: 1rem 0;
  @include min-width($min-width--md) {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: -20%;
  margin-right: -20%;
  padding:1.75em 0 .5em 0;
  }
}

.intro {
  position: relative;
  clear: both;
  margin: 2rem auto;
  text-align: center;
  height: 50vh;
}

.intro img {
  height: 50vh;
  width: auto;
   padding-top: 5vh;
   padding-bottom: 5vh;
}

.logo {
  width: 300px;
  height: auto;
  @include min-width($min-width--lg) {
  width: 400px;
  height: auto;
  }
}

.site-nav {
    text-align: right;
    float: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: .5rem;
    }
.site-nav ul {
    width: 100%;
     font-size: 18px;
  line-height: 2.5;
  color: #494746;
    }
.site-nav ul li {
    display: inline-block;
    margin-right: 1em;
    }
.site-nav ul li:last-child {
    margin-right: 0;
}
.site-nav a {
    color: #344567;
}
.site-nav a:hover {
    color: #999;
    text-decoration: underline 1em solid #999;
}




.beige {
  background-color: #EBD9D1;
}

.icon {
  fill: #00CF5E;
}

.recipe-header {
  background: 
    url(/assets/images/nettles-unedited/5590837445_8b32a86f4d_o.jpg) no-repeat;
  -webkit-filter: url(#duotone);
  filter:  url(#duotone);
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
}


.recipe-info {
  position: absolute;
  left: 30%;
  bottom: 40%;
  color: brown;
  background-color: white;
  padding: .5em 1em;
  text-align: left;
}

.recipe-info p, .page-info p {
  position: absolute;
  left: 40%;
  bottom: 25%;
  background-color: white;
  padding: 0 1em;
  text-align: left;
}

.recipe ol {
  counter-reset:li; /* Initiate a counter */
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
}
.recipe ol > li {
  position:relative; /* Create a positioning context */
  margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  padding:4px 8px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
}
.recipe ol > li:before {
  content:counter(li); /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  /* Position and style the number */
  position:absolute;
  top:-10px;
  left: -1em;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:4em;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right:8px;
  font-size: ms(3);
  padding:4px;
}
.recipe li ol,
.recipe li ul {margin-top:6px;}
.recipe ol ol li:last-child {margin-bottom:0;}

.parent {
  width: 90%;
    padding-top: 2em;
  margin: 0 auto;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.recipe-description {
  margin-top: .5em;
}

.image {
  position: relative;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 37.5% 60%;
  grid-gap: 5%;
  padding: 0;
}

.wrapper-alt {
   width: 90%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 42.5% 54.5%;
  grid-gap: 5%;
  padding: 0;
}

.wrapper-c {
   width: 90%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 48% 50%;
  grid-gap: 2%;
  padding: 0;
}

.wrapper-c h2 {
  line-height: 1.5;
  margin-top: 1rem;
}


.plant-index-header {
  grid-template-columns: 37.5%;
}

.plant-index-header {
  text-align: left;
  display: block;
}

.recipe-index-header {
  grid-template-columns: 37.5%;
}

.homepage-intro {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.homepage-intro h1 {
  font-size: 12vw;
  color: #ccc;
  text-align: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.plant-index-header h1 {
  font-size: 10vw;
  text-align: left;
  color: #ccc;
  padding: 0;
  margin: 0;
  text-decoration: underline 1rem solid #ccc;
}

.plant-index-grid {
  grid-template-columns: 47.5%;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr;
}

.panel {
  grid-template-columns: 1fr;
}

hr {
    margin: 5em 0;
    border: 0;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    color: #ccc;
    text-align: center;
    height: 0;
}

.underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -.75rem white,
    inset 0 -1.5rem #ccc;
  display: inline;
}

.credit {
  text-align: right;
  text-transform: uppercase;
  color: #8C91A5;
  padding: 0;
}

.wrapper-c h1 {
  font-size: 10vw;
  text-align: left;
  color: #ccc;
  padding: 0;
  margin: 0;
}

.recipe {
  margin: 0;
}

.author {
  margin-top: 2rem;
  font-style: roman;
  text-transform: none;
  font-weight: normal;
}